.board {
  margin-top: 10px;
  width: 50%;
  //margin: 200px auto;
  //height: 30%;
  /*background-color: red;*/
}

.box {
  /*border: 1px solid black;*/
  width: 30%;
  display: inline-block;
}

body {
    text-align: center;
}
